<h2>Add Category</h2>

<form action="/categories/add" method="POST">
    <div class="form-group">
        <label for="category">Category:</label>
        <input autofocus type="text" class="form-control" id="category" name="category" required>
    </div>
    <button type="submit" class="btn btn-primary">Add Category</button>
</form>
