<h2>Add Category</h2>

<form method="POST" action="/categories/add">
  <div class="form-group">
    <label for="category">Category:</label>
    <input type="text" class="form-control" name="category" id="category" autofocus required>
  </div>

  <button type="submit" class="btn btn-primary">Add Category</button>
</form>
