<div class="row">
  <div class="col-md-12">
    <h2>Categories</h2>
    <hr />

    {{#if categories.length}}
      <ul class="list-group">
        {{#each categories}}
          <li class="list-group-item">
            <a href="/items?category={{this.id}}">{{this.category}}</a>
          </li>
        {{/each}}
      </ul>
    {{else}}
      <p class="text-muted text-center mt-4">
        <strong>{{message}}</strong>
      </p>
    {{/if}}
  </div>
</div>
