<h2>Categories</h2>
<a href="/categories/add" class="btn btn-success pull-right">Add Category</a>

{{#if categories}}
  <table class="table">
    <thead>
      <tr>
        <th>Category</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each categories}}
        <tr>
          <td>{{category}}</td>
          <td>
            <a href="/categories/delete/{{id}}" class="btn btn-danger">Remove</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div>No Categories</div>
{{/if}}
